.blog {
   padding-top: 104px;
   padding-bottom: 50px;
 
   &__title {
     font-size: 44px;
     font-weight: 700;
     padding-bottom: 55px;
 
     @media (max-width: 760px) {
       font-size: 30px;
       padding-bottom: 18px;
     }
   }
 
   @media (max-width: 760px) {
     padding-top: 24px;
   }
 }
 